* {
  padding: 0;
  margin: 0;
}
h1 {
  color: #001851;
  font-size: 2rem;
  margin: 0;
}
h3 {
  color: #394670;
  font-size: 2.2rem;
  font-weight: 400;
}
p {
  color: #282828;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  padding: 2rem 0rem 2rem 10rem;
  margin: 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.main-heading {
  color: #001851;
  font-size: 3rem;
  margin: 0;
  font-weight: 500;
  text-align: left;
}
.main-para {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5% 10% 5% 0;
  text-align: left;
}
.main-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box-para {
  visibility: hidden;
  margin-top: 20px;
}
.box:hover .box-para {
  visibility: visible;
}
.grey-bg {
    background-color: #f5f7fb;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease,
    border-color 300ms ease;
}
.grey-bg:hover {
    background-image: linear-gradient(to top, #fff 51%, transparent 50%);
    background-position: 0 100%;
    transition: background-position 300ms, color 300ms ease,
      border-color 300ms ease;
}
.white-bg {
  background-color: white;
}
.box {
  text-align: left;
  transition: transform 0.3s ease-in-out;
}
.inner-box {
  padding: 1rem 3rem;
  height: 100%;
}
.box:hover {
  transform: scale(1.1);
  box-shadow: -2px -2px 17px 8px rgba(244, 246, 250, 0.5);
}

.target-img {
  width: 50px;
  height: 50px;
}

.mobile-view {
  display: none;
}
.mb-hide {
  display: block;
}

@keyframes move-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Media query for mobile */

@media screen and (max-width: 768px) {
  h3 {
    color: #06092e;
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
  }

  .container {
    display: block;
    height: 100%;
    padding: 0;
  }
  .main-heading {
    font-size: 2rem;
  }

  .mb-hide {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .box {
    padding: 2rem;
  }
  .flex {
    display: flex;
  }
  .grey-bg {
    background-color: #f4fafd;
  }

  .main-box {
    text-align: left;
    padding: 40px 30px 20px;
  }

  .mobile-view {
    overflow: hidden;
  }
  .main-para {
    font-size: 1.15rem;
    font-weight: 400;
    margin: 15px 0 0;
  }
  .choose-heading {
    font-size: 1rem;
    font-weight: 500;
    color: #191d46;
    margin-bottom: 20px;
  }

  .cards-container {
    padding: 0 2rem;
    margin: 1rem 0 0 0;
  }
  .main-box {
    padding: 0 3rem;
    margin: 1rem 0 0 0;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* Cards styling */
  .cards {
    display: flex;
    flex-direction: row;
    width: max-content;
  }

  /* Image styling */
  .target-img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
  }
  .box-para {
    visibility: visible;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
  }
  /* Card styling */
  .card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;

    padding: 20px 0;
    border-radius: 10px;
  }

  .card-heading {
    font-size: 20px;
    margin-top: 0;
  }

  .card-para {
    font-size: 16px;
    margin-bottom: 0;
  }

  /* Footer */
  footer {
    padding: 2rem;
    margin: 0;
    background-color: #001850;
    padding: 1rem;
    height: 100%;
    text-align: left;
  }
  .footer-subheading {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .footer-subheading,
  .footer-heading,
  .footer-text {
    color: white;
  }
  .footer-heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .footer-text {
    font-size: 1rem;
    font-weight: 400;
  }
}
